_build/
_release/
_esy/
*.byte
*.native
.merlin
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
*.tgz
.yarn-integrity

ci/
test/
lib/
graphql-to-reason.install
graphql-to-reason.opam
graphql_to_reason.re
.travis.yml
appveyor.yml
Makefile
esy.json
esy.lock.json
.gitignore
dune

yarn.lock
dune-project
