language: node_js

node_js:
  - 10

os:
  - linux
  - osx

env:
  - NODE_ENV=production

before_install:
  - npm install --global esy@latest
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then export TARGET_NAME=darwin-x64; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then export TARGET_NAME=linux-x64; fi

#cache:
#  timeout: 360
#  yarn: true
#  directories:
#    - "$HOME/.esy/"
#    - node_modules/
#    - test/node_modules/

install:
  - esy install
  - yarn
  - cd test && yarn && cd ..

script:
  - esy build
  - make test
  - mv _build/default/graphql_to_reason.exe graphql-to-reason-$TARGET_NAME.exe

deploy:
  provider: releases
  skip_cleanup: true
  file_glob: true
  api_key:
    secure: cjaJIPmR88ie5s0JHiv1GUxU9J8M0R6BHmzpr3tGS2jjVQlsu6OIJDaF2vmavvuBqxgEBbxqSQC/cUN9rLHEht49lv1xW9bFFn2uO6OO1v06uF+8AqL4kN1wZnmaITV1mkpnGqLaDzjEoBrjAgaCay37/UOm9cScVS/XUgkfgcNKLOOCbOMA+uKLSfRpN5x5YvzETXeqdaPqvocKi8kznFDgS4CX7NFNWdX132nL018MmojwpLMdUyDMDDosnydmrP1dLAQWXdduPPM38hcK9tRvJU1vlRihTKqc9Mg/ONLoGaCG1DE225SgDrSccV4iClaTvgqQEN3twYSQL0N+tHi/1FYiIjnf44PZWTh2hpoDqqytrhXoMZXvFoVt5EDJVFxijXecoweI7bfupB49P/nFqRbLBAP8Ko9jTSxpFVOw4cli51V9HwRIorq8r1oT/woBuHZ9e5VVMQ+a9Dz92EGxHsuO6Iy1CCmIahTYMP9orgg5zeCL0VXZsr1/R4l4DyoPMmPCafMuv2h5lkc4XmuWxybrSG8gzudVZdvb1O5+hw/7WjB8a/F6kW0DtEG65KNvyF4lzuwmBlk5PnFbuWManKxz0b/MoH45IHxIf24Qpy+4xiA66F9skGkrDx7itzvWyzTUGijD7nVSBPYh9qJXDy1TafcDS57x57oKhoY=
  file: graphql-to-reason-*.exe
  on:
    tags: true
    repo: Coobaha/graphql-to-reason

jobs:
  include:
    - stage: Deploy to npm
      addons:
        apt:
          sources: []
          packages: []
      before_install: skip
      yarn: false
      cache: false
      install: skip
      before_script: skip
      script:
        - bash -e ci/download_binaries.sh
      deploy:
        skip_cleanup: true
        provider: npm
        email: coobaha@gmail.com
        api_key:
          secure: WGYV5ngWAFr2dSf31wji6pbLBk+VuG1WDE9XLt/hoc5/JSNKD4pBPLKviKthRvqjYW1mFrFJ/ss0wkUuMM93qDLaJe+RQhWxplyiqgRp36VxlRvhjzyH02j92xzFSGp5ZyHnaWZnF+4qGEOepuDM8jLXwCGxhlOKZ2EM4WjNhJ/RVB7c9qAVeTVHTrjgJlzHH+NS2bto8iTARKh8E0nsfJZywB6wIcB315GJsXbYl6G9FDc5heU7CZPtnQbtSfNxC/msA199sHGz71fbIJzEKYS+yxl0TiXinFdJtsQDXpoku76r3lhwek0Ja81jJkqcwbHuIGFICnN+GwTgCLv4y7NTu8aqOWqp7Lia/fcSKKtGf8ZAT02pqs8l/WnfDPiTuYZNqJM3XDrml5SVxzb+Ba/JBTthweJjip9d1LgR+pKB1n9DGWPXvUTjCErxg9JtR5ogPtjuEDj5LkmIX2BrwVWpdxJuqCvDYVSa66Thx4wMUF+p2Ac6AIb3Z8zqgLGfliqQgWppnNf2uud33wUyJS+ilARjIo+bbFDHvYafh3Mqr3AVlza2mrpufcH5H7yRRfL0u099/eZh4uR6s+k6SkkdkbS6k7Hf8+QIhrcAUDu1Xiyr6oVENdMBxgVbwhdQFZd9cuZlwxCEZioDvJrWreEqyXDJCPr/1XnBRlNEam0=
        on:
          tags: true
          repo: Coobaha/graphql-to-reason
